---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><a href="{{ '/posts/' | url }}">Explore all article →</a></p>
